#frame {
  border: 1px solid #45475a;
  border-radius: 8px;
  background-color: #313244;
}

#container {
  margin: 2px;
}

#remove {
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 8px;
  border: 0px solid transparent;
  background-color: #45475a;
  color: #cdd6f4;
  margin-left: 5px;
  padding: 0px 8px;
}

#remove:hover {
  background-color: #585b70;
  border: 0px solid transparent;
}

#remove:pressed {
  background-color: #f38ba8;
  border: 0px solid transparent;
}
